<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
{#    <link rel="stylesheet" href="booklistview.css">#}
    <style>
        h1{
    text-align: center;
    font-style: italic;
    font-family: Bahnschrift;
    }
    .book{
        text-align: center;
        width: 500px;
    }
    main{
        display: flex;
        flex-direction: row;
        width: 100%;

    }
    </style>
</head>
<body>
    <h1>BelBook</h1>
    <header>
        <h1></h1>
    </header>
    <main>
    {% if books_list %}
        {% for book in books_list %}
            <div class="book">
                <a href="books/7">
                    <img src="{{ book.url_picture }}">
                    <h1>Книга:{{ book.title }}</h1>
                    <p>Дата последнего обнавления:{{ book.data_update }}</p>
                    <p>Количество просмотров:{{ book.counter_views }}</p>
                    <p>Количество читателей:{{ book.readers }}</p>
                    <p>{{ book.book_status }}</p>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <h1>Книг нету</h1>
    {% endif %}
    </main>
    <footer>
        <h1>Created by Anton Tkachev)</h1>
        <h1><a href="https://github.com/NTN-code">My github <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" style="height:50px; width: 50px; "> </a></h1>
    </footer>
</body>
</html>